
@{
    ViewData["Title"] = "Cadastro jurídico";
}
<style>

.box:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 5s ease-out;
  -moz-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;

}
</style>

<script src="https://unpkg.com/vue"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<section class="container-fluid" style="background:deepskyblue;line-height:3.5;text-align:center;margin-down:10rem">
    <div class="container">
        <titulocadastro id="tabscadastrotitle"  class="title" style="font-size:2rem;margin-top:5rem"><h1><b>Olá!</h1><h1>Preencha os campos para prosseguir</b></h1></titulocadastro>
    </div>
    <div class="hero-foot">
        <ul style="list-style-type:none">
            <div class="container mt4">
                <div class="row .row-300">
                    <div class="col-sm-4">
                        <div class="box" style=":hover{background-color:#FFFFFF}">
                            <li class="tab is-active" onclick="openTab(event,'WebDev')">
                            <a>Dados da Empresa</a></li>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <li class="tab" onclick="openTab(event,'cadastroadministrador')"><a>Dados do Administrador</a></li>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <li class="tab" onclick="openTab(event,'cadastrousuarios')"><a>Dados do Usuário</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</section>
<div id="WebDev" class="content-tab">
    <div class="" id="cad">
        <form>
            <div v-if="step === 1">
                <div id="cadastro">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mt5">
                                    <div class="mt4">
                                        <label class="label mt3">CNPJ</label>
                                        <input class="form-control" data-validate="cnpj" placeholder="00.000.000/0000-00" v-model="dados.entity.cnpj">
                                        <label class="label mt3">Razão Social</label>
                                        <input class="form-control" data-validate="text" v-model="dados.entity.fullname">
                                        <label class="label mt3">Nome Fantasia</label>
                                        <input class="form-control" data-validate="text" v-model="dados.entity.aliasname">                                       
                                        <label class="label mt2">Atividade</label>
                                        <div class="form-group">
                                            <select id="disabledSelect" class="form-control">
                                                <option>Disabled select</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label class="label mt1">Email</label>
                                            <input class="form-control" v-model="dados.emails.address">
                                            <div v-for="(telephones, index) in dados.telephones">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                    <label class="label mt1">DDD</label>
                                                    <input class="form-control" v-model="telephones.ddd">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="label mt1">Telefone</label>
                                                    <input class="form-control" v-model="telephones.number">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="label mt1">Adicionar campo</label>
                                                    <i class="fa fa-trash fa-2x" aria-hidden="true" v-on:click.prevent="deleteUser(index)" style="padding-right: 1cm"></i>
                                                    <i class="fa fa-plus fa-2x" aria-hidden="true"v-on:click.prevent="addUser"></i>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt4 mb5 column is-paddingless is-10-touch is-4-desktop flexd">
                                            <button v-on:click.prevent="next()" class="btn btn-primary">Próximo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <infocadastro></infocadastro>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="step === 2">
                <div class="container">
                    <div class="mt5">
                        <form class="form-horizontal mt3">
                            <label class="label mt1">CEP</label>
                            <input class="form-control" v-model="cep" v-on:keyup="searchCep()" placeholder="digite o cep aqui (sem hífen)">
                            <span v-if="message" class="help is-danger">CEP não encontrado.</span>
                            <label class="label mt1">Cidade</label>
                            <input class="form-control" v-model="dados.userInfoModel.address.city">
                            <label class="label mt1">UF</label>
                            <input class="form-control" v-model="dados.userInfoModel.address.state">
                            <label class="label mt1">Endereço</label>
                            <input class="form-control" v-model="dados.userInfoModel.address.thoroughfare">
                            <label class="label mt1">Numero</label>
                            <input class="form-control" v-model="dados.userInfoModel.address.number">
                            <label class="label mt1">Bairro</label>
                            <input class="form-control" v-model="dados.userInfoModel.address.neighborhood">
                            <label class="label mt1">Complemento</label>
                            <input class="form-control"v-model="dados.userInfoModel.address.complement">
                        </form>
                        <div class="checkradio100 mt1">
                            <input class="is-checkradio is-info"id="checkboxEmail" type="checkbox" name="checkboxEmail">
                            <label for="checkboxEmail">Concordo em receber notificações por e-mail</label>
                        </div>
                        <div class="mt3">
                            <h4><b>ADESÃO</b></h4>
                            <p> Para prosseguir, é necessário dar aceite no termo de adesão, declarando estar <br> de acordo com as condicões de utilização da Central de Duplicatas</p>
                            <div class="row mt2">
                                <div class="col-sm-2">
                                    <p>Visualizar o termo de adesão</p>
                                </div>
                                <div class="col-sm-10">
                                    <i class="fa fa-file-text-o fa-2x" v-on:click="modal = !modal" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-md-2">
                                    <p>Assinar termo de adesão com e-CNPJ</p>
                                </div>
                                    <div class="col-sm-4">
                                        <img src="~/images/botao.png" style="height:90px;margin-right:10%">
                                    </div>
                            </div>
                        </div>
                        <div class="mt5 mb5 column is-paddingless is-10-touch is-4-desktop flexd">
                                <button style="min-width:120px" v-on:click.prevent="prev()" class="btn btn-primary">Anterior</button>
                                <button style="min-width:120px" v-on:click.prevent="submit()" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <div v-bind:class="{'is-active': modal}" class="modal">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                    <p class="modal-card-title">Leia e concorde com os termos antes de prosseguir</p>
                    <button v-on:click="modal = !modal" class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium maiores sed beatae corporis est doloremque error, amet obcaecati quam aut natus odit exercitationem eveniet deleniti? Est, qui. Provident, pariatur?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium maiores sed beatae corporis est doloremque error, amet obcaecati quam aut natus odit exercitationem eveniet deleniti? Est, qui. Provident, pariatur?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique omnis et at esse natus harum nulla autem? Iste quas sed, perspiciatis, dolore, omnis fugit aliquid commodi repellendus numquam ratione facilis!</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>       
                                    <div class="field mb2">
                                    <div style="text-align: center"> 
                                    <input  v-on:click="termoschecked = !termoschecked" class="is-checkradio is-info" id="termoscheckbox" type="checkbox" name="termoscheckbox">
                                    <label for="termoscheckbox">Concordo</label>
                                </div>
                                </section>
                        <footer class="card-footer">
                        <a v-bind:disabled="termoschecked" href="#" class="button is-info card-footer-item">Avançar</a>
                        </footer>
                </div>
            </div> 
            </div>
    </div>
</div>
<div id="cadastroadministrador" class="content-tab" style="display:none">
    <form>
        <div v-if="step === 1">
            <div class="mt5">
                <div id="cadastro" >
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mt4">
                                    <div>
                                        <label class="label mt3">CPF</label>
                                        <input class="form-control" data-validate="cpf" placeholder="000.000.000-00" v-model="dados.document">
                                        <label class="label mt3">Nome Completo</label>
                                        <input class="form-control" data-validate="text" v-model="dados.fullName">
                                        <label class="label mt3">Data de nascimento</label>
                                        <input class="form-control" data-validate="date"v-model="dados.birthDate">
                                    </div>
                                <div>
                                    <label class="label mt2">Email</label>
                                    <input class="form-control" v-model="dados.emails.address">
                                    <label class="label mt2">Confirmação Email</label>
                                    <input class="form-control" v-model="dados.emails.address">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="checkradio100 mt1">
                                                <input class="is-checkradio is-info" id="checkboxEmail" type="checkbox" name="checkboxEmail">
                                                <label for="checkboxEmail">Receber notificações por e-mail</label>
                                            </div>
                                        </div>
                                         <div class="col-sm-6">
                                            <div class="checkradio100 mt1">
                                                <input class="is-checkradio is-info" id="checkboxNews" type="checkbox" name="checkboxNews">
                                                <label for="checkboxNews">Receber Newsletter</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-for="(telephones, index) in dados.telephones">
                                        <div class="row">
                                            <div class="col-sm-2">
                                            <label class="label mt1">DDD</label>
                                            <input class="form-control" v-model="telephones.ddd">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="label mt1">Telefone</label>
                                            <input class="form-control" v-model="telephones.number">
                                        </div>
                                            <div class="col-sm-4">
                                                <label class="label mt1">Adicionar campo</label>
                                                <i class="fa fa-trash fa-2x" aria-hidden="true" v-on:click.prevent="deleteUser(index)" style="padding-right: 1cm"></i>
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"v-on:click.prevent="addUser"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <div class="checkradio100 mt1">
                                            <input class="is-checkradio is-info" id="checkboxSms" type="checkbox" name="checkboxSms">
                                            <label for="checkboxSms">Receber notificações por SMS</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt4 mb5 column is-paddingless is-10-touch is-4-desktop flexd">
                                    <button v-on:click.prevent="next()" class="btn btn-primary">Próximo</button>
                                </div>
                                </div>
                            </div>
                            <infocadastro></infocadastro>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="step === 2">
            <div class="container">
                <div class="mt5">
                    <form class="form-horizontal mt3">
                        <label class="label mt1">CEP</label>
                        <input class="form-control" v-model="cep" v-on:keyup="searchCep()" placeholder="digite o cep aqui (sem hífen)">
                        <span v-if="message" class="help is-danger">CEP não encontrado.</span>
                        <label class="label mt1">Cidade</label>
                        <input class="form-control" v-model="dados.userInfoModel.address.city">
                        <label class="label mt1">UF</label>
                        <input class="form-control" v-model="dados.userInfoModel.address.state">
                        <label class="label mt1">Endereço</label>
                        <input class="form-control" v-model="dados.userInfoModel.address.thoroughfare">
                        <label class="label mt1">Numero</label>
                        <input class="form-control" v-model="dados.userInfoModel.address.number">
                        <label class="label mt1">Bairro</label>
                        <input class="form-control" v-model="dados.userInfoModel.address.neighborhood">
                        <label class="label mt1">Complemento</label>
                        <input class="form-control"v-model="dados.userInfoModel.address.complement">
                    </form>
                    <div class="checkradio100 mt1">
                        <input class="is-checkradio is-info"id="checkboxEmail" type="checkbox" name="checkboxEmail">
                        <label for="checkboxEmail">Concordo em receber notificações por e-mail</label>
                    </div>
                    <div class="mt3">
                            <h4><b>ADESÃO</b></h4>
                            <p> Para prosseguir, é necessário dar aceite no termo de adesão, declarando estar <br> de acordo com as condicões de utilização da Central de Duplicatas</p>
                            <div class="row mt2">
                                <div class="col-sm-2">
                                    <p>Visualizar o termo de adesão</p>
                                </div>
                                <div class="col-sm-10">
                                    <i class="fa fa-file-text-o fa-2x" v-on:click="modal = !modal" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <p>Assinar termo de adesão com e-CNPJ</p>
                               <div class="col-sm-9">
                                        <img src="~/images/botao.png" style="height:90px;margin-right:10%">
                                </div>
                            </div>
                        </div>
                        <div class="mt5 mb5 column is-paddingless is-10-touch is-4-desktop flexd">
                                <button style="min-width:120px" v-on:click.prevent="prev()" class="btn btn-primary">Anterior</button>
                                <button style="min-width:120px" v-on:click.prevent="submit()" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div v-bind:class="{'is-active': modal}" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Leia e concorde com os termos antes de prosseguir</p>
          <button v-on:click="modal = !modal" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium maiores sed beatae corporis est doloremque error, amet obcaecati quam aut natus odit exercitationem eveniet deleniti? Est, qui. Provident, pariatur?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium maiores sed beatae corporis est doloremque error, amet obcaecati quam aut natus odit exercitationem eveniet deleniti? Est, qui. Provident, pariatur?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique omnis et at esse natus harum nulla autem? Iste quas sed, perspiciatis, dolore, omnis fugit aliquid commodi repellendus numquam ratione facilis!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>       
                        <div class="field mb2">
                        <div style="text-align: center"> 
                        <input  v-on:click="termoschecked = !termoschecked" class="is-checkradio is-info" id="termoscheckbox" type="checkbox" name="termoscheckbox">
                        <label for="termoscheckbox">Concordo</label>
                    </div>
                     </section>
            <footer class="card-footer">
            <a v-bind:disabled="termoschecked" href="#" class="btn btn-primary">Avançar</a>
            </footer>
      </div>
    </div> 
</div>
<div id="cadastrousuarios" class="content-tab" style="display:none">
    <form>
        <div class="container mt2">
            <div class="mt2">
                <div v-for="(user, index) in users" style="border:solid;border-color:#c0c0c0;padding:60px;margin-top:4vh">
                    <label class="label mt3">CPF</label>
                    <input class="form-control" data-validate="cpf" placeholder="000.000.000-00" v-model="user.cpf">
                    <label class="label mt3">Nome completo</label>
                    <input class="form-control" data-validate="text" v-model="user.nome">
                    <label class="label mt3">Celular</label>
                    <input class="form-control" data-validate="brPhone" v-model="user.celular">
                    <label class="label mt3">E-mail</label>
                    <input class="form-control" v-model="user.email">
                    <label class="label mt3">Confirmar e-mail</label>
                    <input class="form-control"  v-model="user.confirmaremail">
                    <label class="label mt3">Autorizações</label>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkradio100 mt1">
                                    <input style="margin:center" class="is-checkradio is-info" id="checkboxValidar" type="checkbox" name="exampleCheckboxa">
                                    <label for="checkboxValidar">Carregar e validar duplicatas</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkradio100 mt1">
                                    <input class="is-checkradio is-info" id="checkboxAceite" type="checkbox" name="exampleCheckboxa">
                                    <label for="checkboxAceite">Dar aceite/recusar duplicata</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkradio100 mt1">
                                    <input class="is-checkradio is-info" id="checkboxAutorizar" type="checkbox" name="exampleCheckboxa">
                                    <label for="checkboxAutorizar">Autorizar transferência de titularidades de duplicatas</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkradio100 mt1">
                                    <input class="is-checkradio is-info" id="checkboxInformar" type="checkbox" name="exampleCheckboxa">
                                    <label for="checkboxInformar">Informar entrega e liquidação</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkradio100 mt1">
                                    <input class="is-checkradio is-info" id="checkboxEnviar" type="checkbox" name="exampleCheckboxa">
                                    <label for="checkboxEnviar">Enviar duplicatas para Protesto</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkradio100 mt1">
                                    <input class="is-checkradio is-info" id="checkboxEndosso" type="checkbox" name="exampleCheckboxa">
                                    <label for="checkboxEndosso">Informar endosso</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt4">
            <div class="mb4" style="text-align: center">
                <div style="text-align: center">
                    <button style="min-width:120px" class="btn btn-primary" v-on:click.prevent="deleteUser(index)">Deletar</button>
                    <button style="min-width:120px" class="btn btn-primary" v-on:click.prevent="addUser">Novo Usuário</button>
                    <button style="min-width:120px" class="btn btn-primary" v-on:click.prevent="enviar">Enviar convite</button>
                </div>
            </div>
        </div>
    </form>
</div>

