@{
    ViewData["Title"] = "Login";
}
<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="loginfield" class="column is-paddingless is-10-mobile is-offset-1-mobile is-6-desktop is-offset-5-desktop is-7-tablet is-offset-2-tablet">
                    <div style="min-height: 100vh" class="dflex1">
                        <div>
                            <img id="logo" src="~/images/logodefault.png" height="20%" alt="">
                            <h6 class="subtitle"><b>Seja bem vindo!</b></h6>
                            <p>Realize a verificação do certificado digital para continuar</p>
                            <form>
                            <a class="btn btn-primary" href="https://ieptb-centralduplicata.azurewebsites.net/certificado" role="button">VERIFICAR CERTIFICADO DIGITAL</a> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                    <div class="dflex1" id="bg">
                        <div id="criarconta">
                            <p class="d-inline p-6 ">
                                <h6>Ainda não é membro?</h6>
                            <p class="d-inline p-3 ">
                               <h2><b>Comece agora mesmo a gerir seus <br> protestos de forma simples e rápida</b></h2>
                               <div class="d-inline p-1 ">
                            <a href="/Cadastro" class="button btn btn-primary"> 
                            <h5>Criar minha conta</h5></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>